/* outfit-preferences */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 100px;
isolation: isolate;

position: relative;
width: 440px;
height: 956px;

background: #FFFFFF;


/* status-bar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;

width: 440px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* 9:41 */

width: 28px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 80px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ios-signal */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 4%;
top: 21.93%;
bottom: 16.93%;

background: #18181B;


/* ios-wifi-signal */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5%;
right: 9.29%;
top: 16.68%;
bottom: 21.68%;

background: #18181B;


/* ios-battery-full */

width: 28px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 2.4%;
top: 20%;
bottom: 15%;

background: #18181B;


/* header-section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;
gap: 4px;

width: 440px;
height: 87px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Edit generation */

width: 392px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Preferences */

width: 392px;
height: 35px;

font-family: 'Instrument Serif';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* preferences-scroll */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px 20px;

width: 440px;
height: 725px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* group-header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px 8px;

width: 392px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data Integrations */

width: 392px;
height: 14px;

font-family: 'Geist';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* pref-row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 0px;
gap: 12px;

width: 392px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 307px;
height: 37px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Location & Weather */

width: 307px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Sync outfit suggestions with live forecasts */

width: 307px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 73px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* weather-sync-btn */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 6px;

width: 73px;
height: 32px;

background: #F6F6F6;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cloud drizzle

Keywords: weather, shower
*/

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 4.14%;
right: 4.19%;
top: 4.17%;
bottom: 4.17%;

border: 2px solid #1E1E1E;


/* Sync */

width: 29px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 392px;
height: 0px;

border: 1px solid #F4F4F5;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* pref-row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 0px;
gap: 12px;

width: 392px;
height: 82px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 237px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Connected Calendars */

width: 237px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Adapt posture recommendations based on schedule events */

width: 237px;
height: 34px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* or 17px */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 143px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* calendar-add-btn */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 6px;

width: 68px;
height: 32px;

background: #18181B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Plus circle

Keywords: add, new
*/

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #FFFFFF;


/* Add */

width: 24px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* calendar-edit-btn */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 6px;

width: 67px;
height: 32px;

background: #F6F6F6;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* calendar-icon */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #18181B;


/* Edit */

width: 23px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 392px;
height: 0px;

border: 1px solid #F4F4F5;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* group-header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px 8px;

width: 392px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Recommendation Model */

width: 392px;
height: 14px;

font-family: 'Geist';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* pref-row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 0px;
gap: 12px;

width: 392px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 340px;
height: 37px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Formal Outfit Weighting */

width: 340px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Prioritise tailored suits & pleated silhouettes */

width: 340px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 40px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* toggle */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 2px;

width: 40px;
height: 20px;

background: #18181B;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* toggle-knob */

width: 16px;
height: 16px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 392px;
height: 0px;

border: 1px solid #F4F4F5;

/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* pref-row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 0px;
gap: 12px;

width: 392px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 340px;
height: 37px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Adaptive Heat Mitigation */

width: 340px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Avoid heavier wool fabrics above 70°F */

width: 340px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 40px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* toggle */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 2px;

width: 40px;
height: 20px;

background: #18181B;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* toggle-knob */

width: 16px;
height: 16px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 392px;
height: 0px;

border: 1px solid #F4F4F5;

/* Inside auto layout */
flex: none;
order: 9;
align-self: stretch;
flex-grow: 0;


/* pref-row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 0px;
gap: 12px;

width: 392px;
height: 82px;


/* Inside auto layout */
flex: none;
order: 10;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 215px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Reference Outfits */

width: 215px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Add outfits to use as references for your style */

width: 199px;
height: 34px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
/* or 17px */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 165px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* calendar-add-btn */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 6px;

width: 68px;
height: 32px;

background: #18181B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Plus circle

Keywords: add, new
*/

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #FFFFFF;


/* Add */

width: 24px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* calendar-edit-btn */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 6px;

width: 67px;
height: 32px;

background: #F6F6F6;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* calendar-icon */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #18181B;


/* Edit */

width: 23px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* group-header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px 8px;

width: 392px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 11;
align-self: stretch;
flex-grow: 0;


/* Other Style Preferences */

width: 392px;
height: 14px;

font-family: 'Geist';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* freeform-preference-field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 0px;
gap: 8px;

width: 392px;
height: 152px;


/* Inside auto layout */
flex: none;
order: 12;
align-self: stretch;
flex-grow: 0;


/* Specify favorite brands, color palettes, or fabrics to prioritize/exclude: */

width: 392px;
height: 36px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 140%;
/* or 18px */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* textarea-mock */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;

width: 392px;
height: 84px;
min-height: 80px;

background: rgba(255, 255, 255, 0.25);
border: 1px solid #E4E4E7;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Strictly neutral tones only (olive, slate, navy, sand). Avoid oversized cuts and synthetics. Favor minimalist linen and heavy structured cotton. */

width: 368px;
height: 60px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 150%;
/* or 20px */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* bottom-navigation */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 24px 20px;

position: absolute;
height: 80px;
left: 0px;
right: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.25);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* nav-Home */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 81px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* home */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 12.5%;

border: 2px solid #71717A;


/* Home */

width: 30px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-Wardrobe */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 81px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* circle-x */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #71717A;


/* Wardrobe */

width: 56px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* add-item-button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 51px;
height: 52px;

background: rgba(246, 246, 246, 0.25);
border-radius: 26px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* plus */

width: 35px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 2px solid #18181B;


/* nav-Profile */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 98px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Sliders

Keywords: settings, controls
*/

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 12.5%;
bottom: 12.5%;

border: 2.5px solid #1A1A1A;


/* Preferences */

width: 72px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse */

width: 4px;
height: 4px;

background: #18181B;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* nav-Profile */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 81px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* user */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #71717A;


/* Profile */

width: 41px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
