/* iPhone 16 & 17 Pro Max - 3 */

position: relative;
width: 440px;
height: 956px;



/* wardrobe-screen */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 100px;
isolation: isolate;

position: absolute;
width: 440px;
height: 956px;
left: 0px;
top: 0px;



/* status-bar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;

width: 440px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* 9:41 */

width: 28px;
height: 18px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 80px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ios-signal */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 4%;
top: 21.93%;
bottom: 16.93%;

background: #18181B;


/* ios-wifi-signal */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5%;
right: 9.29%;
top: 16.68%;
bottom: 21.68%;

background: #18181B;


/* ios-battery-full */

width: 28px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 2.4%;
top: 20%;
bottom: 15%;

background: #18181B;


/* header-section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 24px;

width: 440px;
height: 85px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 392px;
height: 53px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Your Collection */

width: 392px;
height: 14px;

font-family: 'Geist';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* My Wardrobe */

width: 392px;
height: 35px;

font-family: 'Instrument Serif';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* filters-container */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px 24px 16px;
gap: 8px;

width: 440px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* filter-Category */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 8px 14px;
gap: 6px;

width: 122px;
height: 32px;

background: rgba(246, 246, 246, 0.25);
border: 1px solid #F4F4F5;
border-radius: 99px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Category: */

width: 56px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* All */

width: 16px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-down */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 2px solid #18181B;


/* filter-Color */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 8px 14px;
gap: 6px;

width: 100px;
height: 32px;

background: rgba(246, 246, 246, 0.25);
border: 1px solid #F4F4F5;
border-radius: 99px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Color: */

width: 34px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* All */

width: 16px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-down */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 2px solid #18181B;


/* filter-Season */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 8px 14px;
gap: 6px;

width: 112px;
height: 32px;

background: rgba(246, 246, 246, 0.25);
border: 1px solid #F4F4F5;
border-radius: 99px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Season: */

width: 46px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* All */

width: 16px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-down */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 2px solid #18181B;


/* wardrobe-scroll-area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px 32px;
gap: 12px;

width: 440px;
height: 679px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 1;
z-index: 3;


/* grid-row-1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 392px;
height: 220px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* wardrobe-item-Structured Knit Polo */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 12px;

width: 190px;
height: 220px;

background: rgba(246, 246, 246, 0.25);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* product-image */

width: 166px;
height: 140px;

background: url(computering jacket.png);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 2px;

width: 166px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Jacket */

width: 166px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Windbreaker */

width: 166px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* wardrobe-item-Tailored Trouser */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 12px;

width: 190px;
height: 220px;

background: rgba(246, 246, 246, 0.25);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* product-image */

width: 166px;
height: 140px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 2px;

width: 166px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Bottoms */

width: 166px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 166px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* grid-row-2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 392px;
height: 220px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* wardrobe-item-Leather Penny Loafers */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 12px;

width: 190px;
height: 220px;

background: rgba(246, 246, 246, 0.25);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* product-image */

width: 166px;
height: 140px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 2px;

width: 166px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Shoes */

width: 166px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 166px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* wardrobe-item-Classic Shoulder Bag */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 12px;

width: 190px;
height: 220px;

background: rgba(246, 246, 246, 0.25);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* product-image */

width: 166px;
height: 140px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 2px;

width: 166px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Accessory */

width: 166px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 166px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* grid-row-3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 392px;
height: 220px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* wardrobe-item-Oversized Linen Shirt */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 12px;

width: 190px;
height: 220px;

background: rgba(246, 246, 246, 0.25);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* product-image */

width: 166px;
height: 140px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 2px;

width: 166px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Top */

width: 166px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 166px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* wardrobe-item-Pleated Wool Shorts */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 12px;

width: 190px;
height: 220px;

background: rgba(246, 246, 246, 0.25);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* product-image */

width: 166px;
height: 140px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 2px;

width: 166px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Bottoms */

width: 166px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 166px;
height: 17px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* bottom-navigation */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 24px 20px;

position: absolute;
height: 80px;
left: 0px;
right: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.25);

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* nav-Home */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 81px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* home */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 12.5%;

border: 2px solid #71717A;


/* Home */

width: 30px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-Wardrobe */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 81px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* circle-x */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #18181B;


/* Wardrobe */

width: 57px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse */

width: 4px;
height: 4px;

background: #18181B;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* add-item-button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 51px;
height: 52px;

background: rgba(246, 246, 246, 0.25);
border-radius: 26px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* plus */

width: 35px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 2px solid #18181B;


/* Group 1 */

width: 98px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Sliders

Keywords: settings, controls
*/

position: absolute;
width: 25.57px;
height: 23.71px;
left: 273.22px;
top: 15.5px;



/* Icon */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 12.5%;
bottom: 12.5%;

border: 2.5px solid #757575;


/* nav-Preferences */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 98px;
height: 12.84px;
left: 237px;
top: 43.66px;



/* Preferences */

width: 71px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* nav-Profile */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 81px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* user */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #71717A;


/* Profile */

width: 41px;
height: 13px;

font-family: 'Geist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
/* identical to box height */
text-transform: uppercase;

color: #71717A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
